@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bg-image-url {
  background-image: url('K.gif');
}

.bg-image-url-1 {
  background-image: url('https://storage.sekai.best/sekai-assets/character/member/res006_no030_rip/card_after_training.png');
}
.bg-image-url-2 {
  background-image: url('https://media.discordapp.net/attachments/1091296534370471997/1171673189647138856/F-YYL8WacAAIjKp.jpg?ex=655d88b1&is=654b13b1&hm=23c28df9d889e7c4c0d3d61bbe46af299ebec67139ff66911b46cef45c7c45ac&=&width=1555&height=889');
}
.videos-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.video {
  margin: 10px;
  background: #e6f7ff;
  padding: 10px;
  border: 1px solid #0073e6;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


.image-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}
.gallery-image {
  max-width: 100%;
  max-height: 550px;
  transition: opacity 0.5s ease-in-out;
}

.arrow-button {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  background-color: #ffffff00; /* Sesuaikan warna latar belakang dengan kebutuhan Anda */
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.arrow-button:hover {
  background-color: #ffffff00; /* Sesuaikan warna latar belakang hover dengan kebutuhan Anda */
}

.arrow-button:first-child {
  left: 10px;
}

.arrow-button:last-child {
  right: 10px;
}

.app {
  text-align: center;
}

.photo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  max-width: 850px;
  margin: 0 auto;
}

.photo {
  margin: 5px;
  background: #e6f7ff;
  padding: 5px;
  border: 1px solid #0073e6;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}